
$overlay-color: rgba(52, 59, 66, 0.25);


body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

.jammify-header {
  padding-top: 1.5rem;
  background-color: transparent;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #fff;

  .highlight {
    color: #bf580e;
  }
}

.summary{
  text-align: center;
  margin-top: 15px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}
.overlay{
  background-color: $overlay-color;
  padding: 0 10%;
  height: calc(100vh - 77px);
  overflow-y: auto;
}

.App {
  // height: 100%;
  background-image: url('../../assets/img/running-vehicles-on-road-3347244.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-logo{
  height: 70px;
  margin: 5px 15px; // to line up stroke and regular logo
  position: absolute;
  opacity: 1;
  z-index: 2;
}

@media only screen and (max-width: 480px) {
  .summary{
    font-size: 14px;
    padding: 0 10px;
  }

  .nav-logo{
    height: 40px;
  }
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
  .overlay {
    // height: 100%;
    padding: 0 10% 5% 10%;
  }
}